@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------Body---------------- */
/*  -------------Header --------------  */
body{
    font-family: 'Bebas Neue', cursive;
}
.navbar-brand{
    color: aliceblue;
    font-size: 3rem;
    font-weight: bolder;
}
.navbar-brand:hover{
    color: #4307cf;
    transition: all 800ms;
}
.bgnav{
    background-color: rgba(19, 18, 18, 0.932);
}
.menubar{
    color:aliceblue;
}
.nav-item a{
    color:rgb(224, 184, 2);
    font-size: 1.5rem;

}
.menubar:active{
    color: #3605a8;
}
/* --------------------------INDEX------------------------- */
/* jumbotron */
.jumbotron{
    background-image: url("https://cdn.pixabay.com/photo/2019/12/04/05/17/band-4671748_960_720.jpg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 60vh;
    margin: 0;
}
.jumbotron h1{
    text-shadow: 1px 1px 1px black;
    font-size: 3rem;
    color: rgb(224, 184, 2);
}
.jumbotron p{
    font-size: 1.5rem;
    color: black;
}
.btnjum{
    background-color: rgba(10, 10, 10, 0.87);
    box-shadow: 1px 1px 3px black;
}
.btnjum a{
    color:aliceblue;
    text-decoration: none;
}
.btnjum:hover{
    background-color: orange;
    transition: all 800ms;
}

/* --------------------------section-------------------- */
.container-fluid{
    width: 100% auto;
    background-color: rgb(17, 17, 17);
    color: aliceblue;
}
.desc h2{
    text-align: center;
    

}
.ar1{
    height: 40vh;
    background-image: url("https://images.unsplash.com/photo-1632312045004-494c905db7d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;   
}

/* -------------------------Eslogan--------------------- */

/* ------------------------------Cards------------------ */

/* interes */


/* --------------------------Artistas2022---------------------------- */
.artistas2022{
    min-height: calc(100vh - 20vh);
    width: 100%;
    padding-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: aliceblue;
}
.artistas2022 h2{
    padding-top: 20px;
    font-size: 28px;
    display: flex;
}
.artistas2022 .artistcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}
.artist{
    width: 20%;
    height: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.artist .imgart{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    background-image: url(https://images.unsplash.com/photo-1560800452-f2d475982b96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-position: center;
    background-size: cover;
}
/* ------------------Informacion---------------- */
.informacion{
    width: 100%;
    min-height: calc(100vh - 20vh);
    padding: 10px;
    background-image: url("https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(58, 58, 58);
    color: aliceblue;
}
.infocont{
    width: auto;
    background-color: rgba(15, 15, 15, 0.877);
    margin: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    
}
.preg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.preg h2{
    font-size: 20px;
    text-align: center;
}
.preg h2:hover{
    transform: scale(1.1);
    transition: all 0.8s;
}
.preg p{
    display: flex;
}

/* ----------------------IMAGENES---------------------------- */
.navgal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.navgal ul{
    margin-top: 30px;
    background-color: rgb(33, 33, 34);
    border-radius: 2px;
    list-style: none;
    box-shadow: 1px 1px 3px black;

    display: flex;
    gap: 20px;
    
    
}
.navgal li{
    display: flex;
    color: aliceblue;
    
}
.navgal a{
    text-decoration: none;
}
.navgal h2{
    display: flex;
    justify-content: center;
}
.imagenes{
    width: 100%;
    padding: 20px;
    display: grid;
}
.imagenes h2{
    text-align: center;
    padding: 20px 0;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}
.temporada{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    
}
.galeria{   
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    filter: grayscale(100%);
    border-radius: 3px;
}
.galeria:hover{
    filter: grayscale(0%);
    transform: scale(1.03);
    transition: all 0.5s;
}
.item1{
    background-image: url(imagenes/imagenes/nicholas-green-nPz8akkUmDI-unsplash.jpg);
    background-size: cover;
    background-position: 45% 26%;

}

.item2{
    background-image: url(Imagenes/imagenes/nathan-fertig-IW5Bm4rB9OA-unsplash.jpg);
    background-size: cover;

}
.item3{
    background-image: url(imagenes/imagenes/muneeb-syed-4_M8uIfPEZw-unsplash.jpg);
    background-size: cover;
    background-position: 35% 65%;

}
.item4{
    background-image: url(imagenes/imagenes/jakob-owens-YSFk5awhcec-unsplash.jpg);
    background-size: cover;

}
.item5{
    background-image: url(imagenes/imagenes/danny-howe-bn-D2bCvpik-unsplash.jpg);
    background-size: cover;

}
.item6{
    background-image: url(imagenes/imagenes/colin-lloyd-W6_txbgkkeU-unsplash.jpg);
    background-size: cover;
    background-position: 45% 55%;

}
.item7{
    background-image: url(imagenes/imagenes/colin-lloyd-5TGwSC4dHOU-unsplash.jpg);
    background-size: cover;
    background-position: 50% 45%;

}
.item8{
    background-image: url(imagenes/imagenes/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg);
    background-size: cover;
    background-position: 30% 55%;
}

/* } PARTE DE LA GALERIA CUANDO AGRUEGUE OTRAS IMAGENES
.item21{
    background-image: url(imagenes/imagenes/nicholas-green-nPz8akkUmDI-unsplash.jpg);
    background-size: cover;
}

.item22{
    background-image: url(Imagenes/imagenes/nathan-fertig-IW5Bm4rB9OA-unsplash.jpg);
    background-size: cover;
}
.item23{
    background-image: url(imagenes/imagenes/muneeb-syed-4_M8uIfPEZw-unsplash.jpg);
    background-size: cover;
    background-position: 35% 65%;
}
.item24{
    background-image: url(imagenes/imagenes/jakob-owens-YSFk5awhcec-unsplash.jpg);
    background-size: cover;
}
.item25{
    background-image: url(imagenes/imagenes/danny-howe-bn-D2bCvpik-unsplash.jpg);
    background-size: cover;
}
.item26{
    background-image: url(imagenes/imagenes/colin-lloyd-W6_txbgkkeU-unsplash.jpg);
    background-size: cover;
    background-position: 45% 55%;
}
.item27{
    background-image: url(imagenes/imagenes/colin-lloyd-5TGwSC4dHOU-unsplash.jpg);
    background-size: cover;
}
.item28{
    background-image: url(imagenes/imagenes/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg);
    background-size: cover;
    background-position: 30% 55%;
}


.item31{
    background-image: url(imagenes/imagenes/nicholas-green-nPz8akkUmDI-unsplash.jpg);
    background-size: cover;
}

.item32{
    background-image: url(Imagenes/imagenes/nathan-fertig-IW5Bm4rB9OA-unsplash.jpg);
    background-size: cover;
}
.item33{
    background-image: url(imagenes/imagenes/muneeb-syed-4_M8uIfPEZw-unsplash.jpg);
    background-size: cover;
    background-position: 35% 65%;
}
.item34{
    background-image: url(imagenes/imagenes/jakob-owens-YSFk5awhcec-unsplash.jpg);
    background-size: cover;
}
.item35{
    background-image: url(imagenes/imagenes/danny-howe-bn-D2bCvpik-unsplash.jpg);
    background-size: cover;
}
.item36{
    background-image: url(imagenes/imagenes/colin-lloyd-W6_txbgkkeU-unsplash.jpg);
    background-size: cover;
    background-position: 45% 55%;
}
.item37{
    background-image: url(imagenes/imagenes/colin-lloyd-5TGwSC4dHOU-unsplash.jpg);
    background-size: cover;
}
.item38{
    background-image: url(imagenes/imagenes/samuel-regan-asante-3BcNKoySAq0-unsplash.jpg);
    background-size: cover;
    background-position: 30% 55%;
} */







/* -----Proximas Fechas---------------- */

.containerfechas{
    width: 100%;
    min-height: calc(100vh - 20vh);
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.pixabay.com/photo/2016/09/10/11/11/musician-1658887_960_720.jpg");
    background-size: cover;
}
.containerfechas h2{
    width: 100%;
    height: 80px;
    padding: 20px 0 10px 10px;
    font-size: 40px;
    display: block;
    text-align:left;
    color:aliceblue;
}
.placecont{
    width: 100%;
    padding: 0 10px 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.place{
    height: 33%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.918);
    padding: 0 10px;
    display: flex;
    flex-flow: column wrap;
}
.place h2{
    color: orange;
    font-size: 38px;
}
.infoplace{
    display: flex;
    width: 100%;
    padding-top: 10px;
    flex-flow:column wrap;
}
.infoplace p{
    font-size: 18px;
    color: aliceblue;
}



/*  -------------Footer --------------  */
.footer{
    width: 100%;
    font-family:'Bebas Neue', cursive;
    background-color: rgba(19, 18, 18, 0.966);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer p{
    font-size: 20px;
}
.ig:hover{
    color: rgb(121, 0, 121);
    transition: all 0.8s;
}
.fb:hover{
    color: #4158D0;
    transition: all 0.8s;
}
.yt:hover{
    color: red;
    transition: all 0.8s;
}
.sp:hover{
    color: rgb(5, 151, 5);
    transition: all 0.8s;
}
.mediacontainer a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}

/* --------------------------MediaQuerys--------------------------  */
/* --------------------------INDEX-------------------------- */
/* --------------------------ARTISTAS-------------------------- */
/* --------------------------INFORMACION-------------------------- */
@media only screen and (min-width:435px) and (max-width:639px) { 
    .header .barra{
        display: flex;
        align-items: center;
        padding-right: 20px;      
    }
    /* --------------------------IMAGENES-------------------------- */

    .temporada{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}
@media only screen and (min-width:640px) and (max-width: 799px) {
    /* .header{
        font-size: 22px;
    }
    .header .logo{
        padding: 5px 0 0 10px;
    }
    .header .barra{
        justify-items: flex-end;
        display: flex;
        align-items: center;    
        
    }
    .barra ul{
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    } */
    /* --------------------------INFORMACION-------------------------- */
    .infocont{
        font-size: 20px;
    }
    .preg h2{
        font-size: 25;
    }


    /* --------------------------IMAGENES-------------------------- */
    .temporada{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: "item1 item1 item3"
                            "item4 item2 item2"
                            "item5 item6 item8"
                            "item7 item7 item7";
    }
    
.item1{
    grid-area: item1;
}

.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}


}
@media only screen and (min-width:800px) and (max-width:1074px) {
    /* .header{
        font-size: 24px;
    }
    .header .logo{
        padding:  0 0 0 10px;
    }
    .header .barra{
        justify-items: flex-end;
        display: flex;
        align-items: center;    
        padding-right: 20px;
    }
    .barra ul{
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-top: 12px;
    }
    .barra li{
        font-size: 20px;
    } */
    /* --------------------------INFORMACION-------------------------- */
    .infocont{
        font-size: 21px;
    }
    .preg h2{
        font-size: 26px;
    }
    /* --------------------------IMAGENES-------------------------- */
    .navgal{
        font-size: 30px;
    }
    .imagenes h2{
        font-size: 25px;
    }
    .temporada{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);
        
        
        grid-template-areas: " item1 item1 item6 item3"
                            "item4 item4 item5 item5"
                            "item4 item4 item7 item7"
                            "item8 item8 item2 item2"
                            ;

    }
        
    .item1{
    grid-area: item1;
    }

    .item2{
    grid-area: item2;
    background-position: 50% 58%;
    }
    .item3{
    grid-area: item3;
    }
    .item4{
    grid-area: item4;
    }
    .item5{
    grid-area: item5;
    background-position: 50% 68%;
    }
    .item6{
    grid-area: item6;
    background-position: 50% 58%;
    }
    .item7{
    grid-area: item7;
    }
    .item8{
    grid-area: item8;
    background-position: 50% 60%;
    }
    }
@media only screen and (min-width:1075px) {
    /* .header{
        font-size: 30px;
    }
    .header .logo{
        padding:  0 0 0 20px;
    }
    .header .barra{
        justify-items: flex-end;
        display: flex;
        align-items: center;    
        padding-right: 20px;
        
    }
    .barra ul{
        display: flex;
        align-items: center;
        gap: 15px;
        padding-top: 10px;
    }
    .barra li{
        font-size: 26px;
    }
    .footer{
        height: 10vh;
    } */
    /* --------------------------INFORMACION-------------------------- */
    .infocont{
        font-size: 25px;
    }
    .preg h2{
        font-size: 30px;
    }
    /* --------------------------IMAGENES-------------------------- */
    .navgal{
        font-size: 35px;
    }
    .imagenes h2{
        font-size: 30px;
    }
    .temporada{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 200px);
        grid-template-areas:    "item1 item1 item1 item6"
                                "item1 item1 item1 item6"
                                "item3 item7  item2  item2"
                                "item3 item7 item5  item5"
                                "item8 item4 item4 item4"
                                "item8 item4 item4 item4";
    }
    .galeria:hover{
        transform: scale(1.01);
    }
    
    
    .item1{
        grid-area: item1;
    }
    
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
        background-position: 50% 65%;
    }
    .item5{
        grid-area: item5;
        background-position: 50% 55%;
    }
    .item6{
        grid-area: item6;
    }
    .item7{
        grid-area: item7;
    }
    .item8{
        grid-area: item8;
    }

}
/* --------------------------INFORMACION-------------------------- */
/* --------------------------PROXIMASFECHAS--------------------------*/