@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------Body---------------- */
/*  -------------Header --------------  */
body {
    font-family: 'Bebas Neue', cursive;
    background-color: #36458b;
    background-image: linear-gradient(43deg, #36458b 0%, #89187e 46%, #ea9600 100%);
    background-repeat: no-repeat;


}

@mixin h2 ($color , $aling ,$padding) {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight:600;
    text-shadow: 1px 1px 3px rgb(14, 14, 14);
    font-size: 3rem;
    color: $color;
    text-align: $aling;
    padding: $padding;
    
}
.h2s{
    @include h2 (rgb(46, 46, 46), center, 20px 0 20px 0)
} 
@mixin h3 ($color, $aling , $padding){
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(36, 35, 35);
    font-size: 1.8rem;
    color: $color;
    text-align: $aling;
    padding: $padding;
}
@mixin h4 ($color , $aling , $padding) {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
    font-size: 1.4rem;
    color: $color;
    text-align: $aling;
    padding: $padding;
}
p{
    margin-bottom: 0;
}
@import "_nav";

/* --------------------------INDEX------------------------- */
/* jumbotron */
button {
    background-color: rgba(10, 10, 10, 0.87);
    box-shadow: 1px 1px 3px black;
    font-family: 'Barlow Condensed', sans-serif;
    padding: 3px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    a {
        color: aliceblue;
        text-decoration: none;

    }
    &:hover {
        background-color: orange;
        transition: all 800ms;  
    }
}
.jumboindex {
    background-image: url("https://cdn.pixabay.com/photo/2019/12/04/05/17/band-4671748_960_720.jpg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 60vh;
    margin: 0;
    box-shadow: 1px 1px 2px black;

    h1 {
        text-shadow: 1px 1px 2px black;
        font-size: 3rem;
        color: rgb(238, 194, 0);
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 600;
    }
    p {
        font-size: 1.5rem;
        color: rgb(12, 12, 12);
        font-family: 'Barlow Condensed', sans-serif;
        font-weight:600;
        text-shadow: 1px 1px 2px rgb(36, 36, 36);
    }
}

/* -----sponsors------- */
.carousel-inner{
    margin-bottom: 40px;
    .carousel-item{
        text-align: center;
        img{
            width:90px;
        }
    }
}

/* -------IFRAME------------ */
.iframe{
    text-align: center;
    margin: 10px 0 20px 0; 
    iframe{
        box-shadow: 3px 3px 4px black;
    }
}   
/* --------------------------section interes-------------------- */
.interes {
    width: 100% auto;
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    margin: 30px 0 20px 0;
    padding: 0;
    overflow: hidden;


}
.int {
    padding: 10px 0 10px 0; 
    align-items: center;
    .desc h2 {
        text-align: center;
        font-weight: 600;
        padding: 20px;
        font-size: 2rem;
    }
    .desc p{
        padding: 20px;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .descimg{
        border-radius: 2px ;
        box-shadow: 2px 2px 3px black;
    }
}
@mixin interes ($img , $order){
    background-image: $img;
    height: 40vh;
    background-position: center;
    background-size: cover;
    order: $order;  
}
.al1{
    order: -1;
}
.ar1 {
    @include interes(url("https://images.unsplash.com/photo-1632312045004-494c905db7d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"), 0 );
}
.ar2{
    order: 1;
}
.al2 {
    @include interes(url("https://images.unsplash.com/photo-1628336707631-68131ca720c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"), 2);
}
.al3{
    order: 3;
}
.ar3{
    @include interes( url("https://images.unsplash.com/photo-1520483691742-bada60a1edd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"), 4 );
}


/* --------------------------Artistas2022---------------------------- */
.imgfondoartist{
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 100%;      
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 2px solid black;
    box-shadow: 0 0 3px black;
}
.imgcircartist{
    position: absolute;
    top: 7%;
    left: calc((100% - 140px)/2);
    border: 6px solid rgba(7, 7, 7, 0.534);
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    background-size: cover;
}
.jumboart{
    height: 60vh;
    background-image: url("https://images.unsplash.com/photo-1572467551143-a57f5de1f861?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80");
    background-position: 50% 85%;
    background-size: cover;
    border-radius: 0;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 2px black ;
    padding: 0;
    font-family: 'Barlow Condensed', sans-serif;
    
    h1{ 
        padding-top: 50px;
        text-align: center;
        font-size: 4rem;
        color: aliceblue;
        text-shadow: 1px 1px 6px black;
    }
    p{
        color: aliceblue;
        font-size: 2rem;
        text-shadow:  1px 1px 4px black;
        text-align: center;
    }
} 

.h2art{
    @extend .h2s;
    margin-top: 40px;
    text-align: center  ;
    color: aliceblue;
    
}
.artistas{
    justify-content: center;
    margin-bottom: 40px;

    .artist{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.637);
        overflow: hidden;
        border-radius: 15px;
        padding: 0;
        margin: 10px;

        .artname{
            padding-top: 80px;
            text-shadow: 1px 1px 3px black;
            color: aliceblue;
        }
        &:hover{
            box-shadow: 0 0 30px rgba(241, 240, 255, 0.267);
            transition: all 800ms;
        }
        &:hover .img2{
            border-color: aliceblue;
            box-shadow: 0 0 30px rgba(241, 240, 255, 0.267);
            transition: all 800ms;
        }
    }
    
}
@mixin imgcirc ($img , $position , $size){
    background-image: $img;
    background-position: $position;
    background-size: $size;
}
.pic1{
    background-image: url("https://images.unsplash.com/photo-1496450080853-5f78c43af9e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    @extend .imgfondoartist;
}
.pic2{
    @extend .imgcircartist;
    @include imgcirc( url("imagenes/artistas2022/pixel-town-RRp0DaYAnsM-unsplash.jpg"), 50% 10% , cover )
}

.pic3{
    background-image: url("https://images.unsplash.com/photo-1517167685284-96a27681ad75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    @extend .imgfondoartist;
    
}
.pic4{
    @include imgcirc( url("imagenes/artistas2022/rsz_elizeu-dias-az3qiq1etrk-unsplash.jpg"), 60% 10% , cover );
    @extend .imgcircartist;
}
.pic5{
    background-image: url("https://images.unsplash.com/photo-1592492152545-9695d3f473f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    @extend .imgfondoartist;
}
.pic6{
    @include imgcirc( url("imagenes/artistas2022/obafemi-moyosade-zndslHAXhAw-unsplash.jpg"), 50% 10% , cover );
    @extend .imgcircartist;
}
.pic7{
    background-image: url("https://images.unsplash.com/photo-1592492159418-39f319320569?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    @extend .imgfondoartist;
}
.pic8{
    @include imgcirc( url("imagenes/artistas2022/kevin-britos-PHYgBreyeYc-unsplash.jpg"), 50% 10% , cover );
    @extend .imgcircartist;
}
.pic9{
    background-image: url("https://images.unsplash.com/photo-1542789828-6c82d889ed74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    @extend .imgfondoartist;
}
.pic10{
    @include imgcirc( url("imagenes/artistas2022/luke-thornton-JNl7o-Mj2cc-unsplash.jpg"), 50% 10% , cover );
    @extend .imgcircartist;
}
.pic11{
    background-image: url("https://images.unsplash.com/photo-1593672715438-d88a70629abe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    @extend .imgfondoartist;
}
.pic12{
    @include imgcirc( url("imagenes/artistas2022/kyle-cleveland-3URAf1vCAlA-unsplash.jpg"), 50% 10% , cover );
    @extend .imgcircartist;
}
.btmedia{
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    .buttommedia{
        width: 90px;
        color: aliceblue;
        text-shadow: 1px 1px 2px black;
        box-shadow: 0 0 10px black;
        border: 1px solid aliceblue;
        background-repeat: no-repeat;
        margin-bottom: 10px;
        background-color: #142692;
        background-image: linear-gradient(43deg, #142692 0%, #8b1283 46%, #dcb272 100%);
    }
    :hover{
        background-color: #36458b;
        background-image: linear-gradient(43deg, #36458b 0%, #89187e 46%, #ea9600 80%);
        transition: all ease-in-out;
    
    }
}
.mediaartist a{
    font-size: 1.7rem;
    padding-top: 10pxs;
    color: aliceblue;
}


/* ------------------Informacion---------------- */
.informacion {
    padding: 50px;
    background-image: url("imagenes/fondos/rsz_ticket-2974645_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(58, 58, 58);
    color: aliceblue;
    
    h1{
        @include h2(aliceblue, center , 30px 0 30px 0);
    }
    .card-header{
        width: 100%;
        @include h3(none, center, 10px );
            
        .card-link{
            color: rgb(102, 102, 102);
        }
    }
    .card-body{
        @include h4 (rgb(77, 75, 75) , none , 20px);
    }
}

/* ----------------------IMAGENES---------------------------- */
.imagenes {
    width: 100%;
    padding: 20px;
    display: grid;

    h2 {
        @include h2(aliceblue, center , 20px 0)
    }
}

.temporada {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);

}

.galeria {
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    filter: grayscale(100%);
    border-radius: 3px;
    &:hover {
        filter: grayscale(0%);
        transform: scale(1.03);
        transition: all 0.5s;
    }
}
@mixin itemimg ($imagen, $position){
    background-image: $imagen;
    background-size: cover;
    background-position: $position;    
}
.item1 {
    @include itemimg( url("imagenes/locaciones/colin-lloyd-eiQqGBAMgIE-unsplash.jpg"), 45% 26%)
}
.item2 {
    @include itemimg(  url("Imagenes/locaciones/danny-howe-bn-D2bCvpik-unsplash.jpg"), center)
}
.item3 {
    @include itemimg(url("imagenes/locaciones/jakob-owens-YSFk5awhcec-unsplash.jpg"), 35% 65% )
}
.item4 {
    @include itemimg(url("imagenes/locaciones/muneeb-syed-4_M8uIfPEZw-unsplash.jpg"),center )
}
.item5 {
    @include itemimg( url("imagenes/locaciones/nicholas-green-nPz8akkUmDI-unsplash.jpg"), center)
}
.item6 {
    @include itemimg(url("imagenes/locaciones/sebastian-ervi-Qq2h76kYRFI-unsplash.jpg"), 45% 55% )
}
.item7 {
    @include itemimg(url("imagenes/locaciones/tajmia-loiacono-Zc4y1upPN00-unsplash.jpg"),50% 45% )
}
.item8 {
    @include itemimg(url("imagenes/locaciones/simon-boxus-xoD9JhFMtGM-unsplash.jpg"), 30% 55%)
}
/* -----Proximas Fechas---------------- */

.fechas {
    margin-bottom: 40px;
    min-height: (100vh -31vh);
    h1{
        @include h2(aliceblue, center , 20px 0 )
    }
    .contfechas{
        background-color: rgba(0, 0, 0, 0.808);
        font-family: 'Barlow Condensed', sans-serif;
        color: aliceblue;
        section{
            padding: 10px;
            p{
                font-size: 1.3rem;
                margin-bottom: 10px;
            }
            button{
                background-color: aliceblue;
                margin-bottom: 10px;
                font-size: 1.1rem;
                &:hover{
                    background-color: orange;
                    color: aliceblue;
                    transition: all 800ms;
                }
            }
            
        }
    }


}

/*  -------------Footer --------------  */
.footer{
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(19, 18, 18, 0.801);
    color: aliceblue;
    height: auto;
    padding: 20px 0 10px 0; 
    p {
        font-size: 20px;
        text-align: center;
    }
    .mediacontainer{
        text-align: center;
        
        a {
            text-decoration: none;
            color: aliceblue;
            font-size: 30px;
            
            &.ig:hover {
                color: rgb(121, 0, 121);
                transition: all 0.8s;
            }
            &.fb:hover {
                color: #4158D0;
                transition: all 0.8s;
            }
            &.yt:hover {
                color: red;
                transition: all 0.8s;
            }
            
            &.sp:hover {
                color: rgb(5, 151, 5);
                transition: all 0.8s;
            }
        }
    }
}

@media only screen and (min-width:576px) and (max-width:767px) {

    /* ---------------INDEX */
    /* ---IFRAME */
        /* --------------------------IMAGENES-------------------------- */
    
        .temporada {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 200px);
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        /* MD */
    /* ---------------INDEX */
    /* ---IFRAME */
    iframe{
        width: 500px;
        height: 250px;
    }
    /* ---INTERES */
    .ar1{
        order: 0;
    }
    .al1{
        order: -1;
    }
    .ar2{
        order: 2;
    }
    .al2{
        order: 1;    
    }
    .ar3{
        order: 4;
    }
    .al3{
        order: 3;    
    }
        /* --------------------------INFORMACION-------------------------- */
    
        /* --------------------------IMAGENES-------------------------- */
        .temporada {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 200px);
            grid-template-areas: "item1 item1 item3"
                "item4 item2 item2"
                "item5 item6 item8"
                "item7 item7 item7";
        }
    
        .item1 {
            grid-area: item1;
        }
    
        .item2 {
            grid-area: item2;
        }
    
        .item3 {
            grid-area: item3;
        }
    
        .item4 {
            grid-area: item4;
        }
    
        .item5 {
            grid-area: item5;
        }
    
        .item6 {
            grid-area: item6;
        }
    
        .item7 {
            grid-area: item7;
        }
    
        .item8 {
            grid-area: item8;
        }
    
    
    }
    
    @media only screen and (min-width:992px) and (max-width:1199px) {
        /* LG */
    
    /* ---IFRAME */
    iframe{
        width: 600px;
        height: 300px;
    }
    /* ---INTERES */
    .ar1{
        order: 0;
    }
    .al1{
        order: -1;
    }
    .ar2{
        order: 2;
    }
    .al2{
        order: 1;    
    }
    .ar3{
        order: 4;
    }
    .al3{
        order: 3;    
    }
        /* --------------------------INFORMACION-------------------------- */
        /* --------------------------IMAGENES-------------------------- */
    
        .temporada {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 200px);
    
    
            grid-template-areas: " item1 item1 item6 item3"
                "item4 item4 item5 item5"
                "item4 item4 item7 item7"
                "item8 item8 item2 item2"
            ;
    
        }
    
        .item1 {
            grid-area: item1;
        }
    
        .item2 {
            grid-area: item2;
            background-position: 50% 58%;
        }
    
        .item3 {
            grid-area: item3;
        }
    
        .item4 {
            grid-area: item4;
        }
    
        .item5 {
            grid-area: item5;
            background-position: 50% 68%;
        }
    
        .item6 {
            grid-area: item6;
            background-position: 50% 58%;
        }
    
        .item7 {
            grid-area: item7;
        }
    
        .item8 {
            grid-area: item8;
            background-position: 50% 60%;
        }
    }
    
    @media only screen and (min-width:1200px) {
        /* XL */
        /*INDEX  */
    
    .row aside{
        margin-bottom: 10px;
    }
    /* ---IFRAME */
    iframe{
        width: 700px;
        height: 350px;
    }
    /* ---INTERES */
    .ar1{
        order: 0;
    }
    .al1{
        order: -1;
    }
    .ar2{
        order: 2;
    }
    .al2{
        order: 1;    
    }
    .ar3{
        order: 4;
    }
    .al3{
        order: 3;    
    }
        /* --------------------------IMAGENES-------------------------- */
    
        .temporada {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 200px);
            grid-template-areas: "item1 item1 item1 item6"
                "item1 item1 item1 item6"
                "item3 item7  item2  item2"
                "item3 item7 item5  item5"
                "item8 item4 item4 item4"
                "item8 item4 item4 item4";
        }
    
        .galeria:hover {
            transform: scale(1.01);
        }
    
    
        .item1 {
            grid-area: item1;
        }
    
        .item2 {
            grid-area: item2;
        }
    
        .item3 {
            grid-area: item3;
        }
    
        .item4 {
            grid-area: item4;
            background-position: 50% 75%;
        }
    
        .item5 {
            grid-area: item5;
            background-position: 50% 55%;
        }
    
        .item6 {
            grid-area: item6;
        }
    
        .item7 {
            grid-area: item7;
        }
    
        .item8 {
            grid-area: item8;
        }
}