@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------Body---------------- */
/*  -------------Header --------------  */
body {
  font-family: "Bebas Neue", cursive;
  background-color: #36458b;
  background-image: linear-gradient(43deg, #36458b 0%, #89187e 46%, #ea9600 100%);
  background-repeat: no-repeat;
}

.h2s, .h2art {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(14, 14, 14);
  font-size: 3rem;
  color: rgb(46, 46, 46);
  text-align: center;
  padding: 20px 0 20px 0;
}

p {
  margin-bottom: 0;
}

.navbar-brand {
  color: aliceblue;
  font-size: 3rem;
  font-weight: bolder;
}
.navbar-brand:hover {
  -webkit-animation: colorbrand 1200ms infinite ease-out;
          animation: colorbrand 1200ms infinite ease-out;
}

@-webkit-keyframes colorbrand {
  0% {
    color: aliceblue;
  }
  50% {
    color: #C850C0;
  }
  100% {
    color: #FFCC70;
  }
}

@keyframes colorbrand {
  0% {
    color: aliceblue;
  }
  50% {
    color: #C850C0;
  }
  100% {
    color: #FFCC70;
  }
}
#collapsibleNavbar {
  justify-content: flex-end;
}

.bgnav {
  background-color: rgba(0, 0, 0, 0.699);
}

.menubar {
  color: aliceblue;
}
.menubar :active {
  color: #3605a8;
}

.nav-item a {
  color: aliceblue;
  font-size: 1.5rem;
}
.nav-item a:hover {
  color: rgb(224, 184, 2);
  transition: all 800ms;
}

/* --------------------------INDEX------------------------- */
/* jumbotron */
.jumboindex {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/04/05/17/band-4671748_960_720.jpg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 60vh;
  margin: 0;
  box-shadow: 1px 1px 2px black;
}
.jumboindex h1 {
  text-shadow: 1px 1px 2px black;
  font-size: 3rem;
  color: rgb(238, 194, 0);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
}
.jumboindex p {
  font-size: 1.5rem;
  color: rgb(12, 12, 12);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(36, 36, 36);
}

.btnjum {
  background-color: rgba(10, 10, 10, 0.87);
  box-shadow: 1px 1px 3px black;
}
.btnjum a {
  color: aliceblue;
  text-decoration: none;
}
.btnjum:hover {
  background-color: orange;
  transition: all 800ms;
}

/* -----sponsors------- */
.carousel-inner {
  margin-bottom: 40px;
}
.carousel-inner .carousel-item {
  text-align: center;
}
.carousel-inner .carousel-item img {
  width: 90px;
}

/* -------IFRAME------------ */
.iframe {
  text-align: center;
  margin: 10px 0 20px 0;
}
.iframe iframe {
  box-shadow: 3px 3px 4px black;
}

/* --------------------------section interes-------------------- */
.interes {
  width: 100% auto;
  background-color: rgb(17, 17, 17);
  color: aliceblue;
  margin: 30px 0 20px 0;
  padding: 0;
  overflow: hidden;
}

.int {
  padding: 10px 0 10px 0;
  align-items: center;
}
.int .desc h2 {
  text-align: center;
  font-weight: 600;
  padding: 20px;
  font-size: 2rem;
}
.int .desc p {
  padding: 20px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.int .descimg {
  border-radius: 2px;
  box-shadow: 2px 2px 3px black;
}

.al1 {
  order: -1;
}

.ar1 {
  background-image: url("https://images.unsplash.com/photo-1632312045004-494c905db7d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  height: 40vh;
  background-position: center;
  background-size: cover;
  order: 0;
}

.ar2 {
  order: 1;
}

.al2 {
  background-image: url("https://images.unsplash.com/photo-1628336707631-68131ca720c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 40vh;
  background-position: center;
  background-size: cover;
  order: 2;
}

.al3 {
  order: 3;
}

.ar3 {
  background-image: url("https://images.unsplash.com/photo-1520483691742-bada60a1edd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  height: 40vh;
  background-position: center;
  background-size: cover;
  order: 4;
}

/* --------------------------Artistas2022---------------------------- */
.imgfondoartist, .pic11, .pic9, .pic7, .pic5, .pic3, .pic1 {
  background-position: center;
  background-size: cover;
  height: 20vh;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 2px solid black;
  box-shadow: 0 0 3px black;
}

.imgcircartist, .pic12, .pic10, .pic8, .pic6, .pic4, .pic2 {
  position: absolute;
  top: 7%;
  left: calc((100% - 140px) / 2);
  border: 6px solid rgba(7, 7, 7, 0.534);
  border-radius: 50%;
  box-shadow: 0 0 3px black;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  background-size: cover;
}

.jumboart {
  height: 60vh;
  background-image: url("https://images.unsplash.com/photo-1572467551143-a57f5de1f861?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1373&q=80");
  background-position: 50% 85%;
  background-size: cover;
  border-radius: 0;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 2px black;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}
.jumboart h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 4rem;
  color: aliceblue;
  text-shadow: 1px 1px 6px black;
}
.jumboart p {
  color: aliceblue;
  font-size: 2rem;
  text-shadow: 1px 1px 4px black;
  text-align: center;
}

.h2art {
  margin-top: 40px;
  text-align: center;
  color: aliceblue;
}

.artistas {
  justify-content: center;
  margin-bottom: 40px;
}
.artistas .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.637);
  overflow: hidden;
  border-radius: 15px;
  padding: 0;
  margin: 10px;
}
.artistas .artist .artname {
  padding-top: 80px;
  text-shadow: 1px 1px 3px black;
  color: aliceblue;
}
.artistas .artist:hover {
  box-shadow: 0 0 30px rgba(241, 240, 255, 0.267);
  transition: all 800ms;
}
.artistas .artist:hover .img2 {
  border-color: aliceblue;
  box-shadow: 0 0 30px rgba(241, 240, 255, 0.267);
  transition: all 800ms;
}

.pic1 {
  background-image: url("https://images.unsplash.com/photo-1496450080853-5f78c43af9e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.pic2 {
  background-image: url("imagenes/artistas2022/pixel-town-RRp0DaYAnsM-unsplash.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.pic3 {
  background-image: url("https://images.unsplash.com/photo-1517167685284-96a27681ad75?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}

.pic4 {
  background-image: url("imagenes/artistas2022/rsz_elizeu-dias-az3qiq1etrk-unsplash.jpg");
  background-position: 60% 10%;
  background-size: cover;
}

.pic5 {
  background-image: url("https://images.unsplash.com/photo-1592492152545-9695d3f473f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.pic6 {
  background-image: url("imagenes/artistas2022/obafemi-moyosade-zndslHAXhAw-unsplash.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.pic7 {
  background-image: url("https://images.unsplash.com/photo-1592492159418-39f319320569?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
}

.pic8 {
  background-image: url("imagenes/artistas2022/kevin-britos-PHYgBreyeYc-unsplash.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.pic9 {
  background-image: url("https://images.unsplash.com/photo-1542789828-6c82d889ed74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}

.pic10 {
  background-image: url("imagenes/artistas2022/luke-thornton-JNl7o-Mj2cc-unsplash.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.pic11 {
  background-image: url("https://images.unsplash.com/photo-1593672715438-d88a70629abe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
}

.pic12 {
  background-image: url("imagenes/artistas2022/kyle-cleveland-3URAf1vCAlA-unsplash.jpg");
  background-position: 50% 10%;
  background-size: cover;
}

.btmedia {
  font-size: 1.5rem;
  font-family: "Barlow Condensed", sans-serif;
}
.btmedia .buttommedia {
  width: 90px;
  color: aliceblue;
  text-shadow: 1px 1px 2px black;
  box-shadow: 0 0 10px black;
  border: 1px solid aliceblue;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-color: #142692;
  background-image: linear-gradient(43deg, #142692 0%, #8b1283 46%, #dcb272 100%);
}
.btmedia :hover {
  background-color: #36458b;
  background-image: linear-gradient(43deg, #36458b 0%, #89187e 46%, #ea9600 80%);
  transition: all ease-in-out;
}

.mediaartist a {
  font-size: 1.7rem;
  padding-top: 10pxs;
  color: aliceblue;
}

/* ------------------Informacion---------------- */
.informacion {
  width: 100% auto;
  padding: 50px;
  background-image: url("https://cdn.pixabay.com/photo/2017/11/24/10/43/ticket-2974645_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(58, 58, 58);
  color: aliceblue;
}
.informacion h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(14, 14, 14);
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
  padding: 30px 0 30px 0;
}
.informacion .card-header {
  width: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(36, 35, 35);
  font-size: 1.8rem;
  color: none;
  text-align: center;
  padding: 10px;
}
.informacion .card-header .card-link {
  color: rgb(102, 102, 102);
}
.informacion .card-body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(54, 54, 54);
  font-size: 1.4rem;
  color: rgb(77, 75, 75);
  text-align: none;
  padding: 20px;
}

/* ----------------------IMAGENES---------------------------- */
.imagenes {
  width: 100%;
  padding: 20px;
  display: grid;
}
.imagenes h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(14, 14, 14);
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
  padding: 20px 0;
}

.temporada {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 200px);
}

.galeria {
  border: 2px solid black;
  box-shadow: 2px 2px 5px black;
  filter: grayscale(100%);
  border-radius: 3px;
}
.galeria:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
  transition: all 0.5s;
}

.item1 {
  background-image: url("imagenes/locaciones/colin-lloyd-eiQqGBAMgIE-unsplash.jpg");
  background-size: cover;
  background-position: 45% 26%;
}

.item2 {
  background-image: url("Imagenes/locaciones/danny-howe-bn-D2bCvpik-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.item3 {
  background-image: url("imagenes/locaciones/jakob-owens-YSFk5awhcec-unsplash.jpg");
  background-size: cover;
  background-position: 35% 65%;
}

.item4 {
  background-image: url("imagenes/locaciones/muneeb-syed-4_M8uIfPEZw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.item5 {
  background-image: url("imagenes/locaciones/nicholas-green-nPz8akkUmDI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.item6 {
  background-image: url("imagenes/locaciones/sebastian-ervi-Qq2h76kYRFI-unsplash.jpg");
  background-size: cover;
  background-position: 45% 55%;
}

.item7 {
  background-image: url("imagenes/locaciones/tajmia-loiacono-Zc4y1upPN00-unsplash.jpg");
  background-size: cover;
  background-position: 50% 45%;
}

.item8 {
  background-image: url("imagenes/locaciones/simon-boxus-xoD9JhFMtGM-unsplash.jpg");
  background-size: cover;
  background-position: 30% 55%;
}

/* -----Proximas Fechas---------------- */
.fechas {
  background-image: url("https://cdn.pixabay.com/photo/2016/09/10/11/11/musician-1658887_960_720.jpg");
  background-size: cover;
  background-position: center;
}
.fechas h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(14, 14, 14);
  font-size: 3rem;
  color: aliceblue;
  text-align: center;
  padding: 20px 0;
}
.fechas .buttonfechas {
  background-color: orange;
  color: aliceblue;
  background-color: rgba(10, 10, 10, 0.87);
  box-shadow: 1px 1px 3px black;
}
.fechas .buttonfechas a {
  color: aliceblue;
  text-decoration: none;
}
.fechas .buttonfechas:hover {
  background-color: orange;
  transition: all 800ms;
}

.contfechas {
  background-color: rgba(0, 0, 0, 0.808);
  font-family: "Barlow Condensed", sans-serif;
  color: aliceblue;
}

.place {
  padding: 20px;
}

iframe {
  box-shadow: 2px 2px 4px black;
}

/*  -------------Footer --------------  */
.footer {
  font-family: "Bebas Neue", cursive;
  background-color: rgba(19, 18, 18, 0.801);
  color: aliceblue;
  height: auto;
  padding: 20px 0 10px 0;
}
.footer p {
  font-size: 20px;
  text-align: center;
}
.footer .mediacontainer {
  text-align: center;
}
.footer .mediacontainer a {
  text-decoration: none;
  color: aliceblue;
  font-size: 30px;
}
.footer .mediacontainer a.ig:hover {
  color: rgb(121, 0, 121);
  transition: all 0.8s;
}
.footer .mediacontainer a.fb:hover {
  color: #4158D0;
  transition: all 0.8s;
}
.footer .mediacontainer a.yt:hover {
  color: red;
  transition: all 0.8s;
}
.footer .mediacontainer a.sp:hover {
  color: rgb(5, 151, 5);
  transition: all 0.8s;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* ---------------INDEX */
  /* ---IFRAME */
  /* --------------------------IMAGENES-------------------------- */
  .temporada {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* MD */
  /* ---------------INDEX */
  /* ---IFRAME */
  iframe {
    width: 500px;
    height: 250px;
  }
  /* ---INTERES */
  .ar1 {
    order: 0;
  }
  .al1 {
    order: -1;
  }
  .ar2 {
    order: 2;
  }
  .al2 {
    order: 1;
  }
  .ar3 {
    order: 4;
  }
  .al3 {
    order: 3;
  }
  /* --------------------------INFORMACION-------------------------- */
  /* --------------------------IMAGENES-------------------------- */
  .temporada {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: "item1 item1 item3" "item4 item2 item2" "item5 item6 item8" "item7 item7 item7";
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
  }
  .item6 {
    grid-area: item6;
  }
  .item7 {
    grid-area: item7;
  }
  .item8 {
    grid-area: item8;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* LG */
  /* ---IFRAME */
  iframe {
    width: 600px;
    height: 300px;
  }
  /* ---INTERES */
  .ar1 {
    order: 0;
  }
  .al1 {
    order: -1;
  }
  .ar2 {
    order: 2;
  }
  .al2 {
    order: 1;
  }
  .ar3 {
    order: 4;
  }
  .al3 {
    order: 3;
  }
  /* --------------------------INFORMACION-------------------------- */
  /* --------------------------IMAGENES-------------------------- */
  .temporada {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);
    grid-template-areas: " item1 item1 item6 item3" "item4 item4 item5 item5" "item4 item4 item7 item7" "item8 item8 item2 item2";
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
    background-position: 50% 58%;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
  }
  .item5 {
    grid-area: item5;
    background-position: 50% 68%;
  }
  .item6 {
    grid-area: item6;
    background-position: 50% 58%;
  }
  .item7 {
    grid-area: item7;
  }
  .item8 {
    grid-area: item8;
    background-position: 50% 60%;
  }
}
@media only screen and (min-width: 1200px) {
  /* XL */
  /*INDEX  */
  .row aside {
    margin-bottom: 10px;
  }
  /* ---IFRAME */
  iframe {
    width: 700px;
    height: 350px;
  }
  /* ---INTERES */
  .ar1 {
    order: 0;
  }
  .al1 {
    order: -1;
  }
  .ar2 {
    order: 2;
  }
  .al2 {
    order: 1;
  }
  .ar3 {
    order: 4;
  }
  .al3 {
    order: 3;
  }
  /* --------------------------IMAGENES-------------------------- */
  .temporada {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: "item1 item1 item1 item6" "item1 item1 item1 item6" "item3 item7  item2  item2" "item3 item7 item5  item5" "item8 item4 item4 item4" "item8 item4 item4 item4";
  }
  .galeria:hover {
    transform: scale(1.01);
  }
  .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
  }
  .item3 {
    grid-area: item3;
  }
  .item4 {
    grid-area: item4;
    background-position: 50% 75%;
  }
  .item5 {
    grid-area: item5;
    background-position: 50% 55%;
  }
  .item6 {
    grid-area: item6;
  }
  .item7 {
    grid-area: item7;
  }
  .item8 {
    grid-area: item8;
  }
}/*# sourceMappingURL=styless.css.map */